
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutHomeMainList.cshtml";
}

<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "../Banner/GetBannerList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {

                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";

                var banner = "<div> <img src=\"" + p_row.imgUrl + "\" style=\"width:50px;height:50px\"><div>";

                l_StrRows += "<td class=\"overflow tipitem\">" + banner + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.title + "\">" + p_row.title + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.readCount + "\">" + p_row.readCount + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.statusName + "\">" + p_row.statusName + "</td>";
                l_StrRows += "<td class=\"operation\">";
                if (p_row.Status == 1) {
                    l_StrRows += "<a href=\"javascript:void(0)\" operate=\"edit\"   class=\"a-btn a-btn-edit\"  >编辑</a>";
                }
                else {
                    l_StrRows += "<a href=\"javascript:void(0)\" operate=\"details\"   class=\"a-btn a-btn-details\"  >查看</a>";
                }
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "edit": function (obj) {
                    var url = '../Banner/EditBanner?id=' + obj.id;
                    var title = '编辑';
                    var dialog = art.dialog.open(url, {
                        id: "openDialog", title: title, width: '750px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存',
                        button: [{
                            name: '发布',
                            callback: function () {
                                this.iframe.contentWindow.submit(operateType.submit, function (d) {
                                    if (d.result == resultType.success) {
                                        dialog.close();
                                        listTable.loadData();
                                    }
                                    $.lumos.tips(d.message);
                                });
                                return false;
                            },
                            focus: true
                        }, {
                            name: '暂存',
                            callback: function () {

                                this.iframe.contentWindow.submit(operateType.save, function (d) {
                                    $.lumos.tips(d.message);
                                });
                                return false;
                            }
                        }, {
                            name: '撤销',
                            callback: function () {

                                this.iframe.contentWindow.submit(operateType.cancle, function (d) {
                                    if (d.result == resultType.success) {
                                        dialog.close();
                                        listTable.loadData();
                                    }
                                    $.lumos.tips(d.message);
                                });
                                return false;
                            }
                        }]
                    });
                },
                "details": function (obj) {
                    var url = '../Banner/BannerDetails?id=' + obj.id;
                    var title = '查看';
                    if (obj.Status == 2) {
                        var dialog = art.dialog.open(url, {
                            id: "openDialog", title: title, width: '720px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存',
                            button: [{
                                name: '撤销',
                                focus: true,
                                callback: function () {
                                    this.iframe.contentWindow.submit(operateType.cancle, function (d) {
                                        if (d.result == resultType.success) {
                                            dialog.close();
                                            listTable.loadData();
                                        }
                                        $.lumos.tips(d.message);
                                    });
                                    return false;
                                }
                            }]
                        });
                    }
                    else {
                        art.dialog.open(url, {
                            id: "openDialog", title: title, width: '720px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true
                        });
                    }
                }
            }
        });


        $("#btn_Add").click(function () {
            var url = '../Banner/AddBanner?type=@Request.QueryString["type"]';
            var title = '新建';
            var dialog = art.dialog.open(url, {
                id: "openDialog", title: title, width: '750px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true,
                button: [{
                    name: '发布',
                    callback: function () {
                        this.iframe.contentWindow.submit(operateType.submit, function (d) {
                            if (d.result == resultType.success) {
                                dialog.close();
                                listTable.loadData();
                            }
                            $.lumos.tips(d.message);
                        });
                        return false;
                    },
                    focus: true
                }, {
                    name: '暂存',
                    callback: function () {

                        this.iframe.contentWindow.submit(operateType.save, function (d) {
                            if (d.result == resultType.success) {
                                dialog.close();
                                listTable.loadData();
                            }
                            $.lumos.tips(d.message);
                        });
                        return false;
                    }
                }, {
                    name: '预览',
                    callback: function () {
                        this.iframe.contentWindow.preview();
                        return false;
                    }
                }]
            });
        });


    });




</script>

<form id="form1" name="form1">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Type" value="@Request.QueryString["type"]" />
    <div class="search-bar">
        <div class="filter">
            <span class="filter-label">标题：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="Title" style="width:120px;" />
            </span>
        </div>
        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

        <div class="filter" style="float:right">
            <input type="button" class="btn btn-add" id="btn_Add" value="新建" />
        </div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%" class="no">
                        序号
                    </th>
                    <th style="width:20%">
                        图片
                    </th>
                    <th style="width:30%">
                        标题
                    </th>
                    <th style="width:15%">
                        阅读量
                    </th>
                    <th style="width:20%">
                        状态
                    </th>
                    <th style="width:10%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>


