@model WebBack.Models.Biz.Report.WithdrawViewModel
@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_LayoutHomeMainReport.cshtml";
}

@section scripts{

    <script type="text/javascript">


        function GetParams(operate) {
            var l_Data = $("#form1").serializeArray();
            l_Data.push({ name: "Model.Operate", value: operate });

            return l_Data;
        }

        var url="../Report/Withdraw";

        function search() {
            $.lumos.postJson({
                url:url,
                data: GetParams(operateType.search),
                success: function (d) {
                    $('#reporthtml').html(d.data.html);
                }
            });

            return false;
        }

        function exportExcel() {
            $.lumos.download(url, GetParams(operateType.exportExcel), 'post');
        };

    </script>
}

<div class="gbr-row">
    <form id="form1" name="form1">
        @Html.AntiForgeryToken()


        <div class="search-bar">
            <div class="filter">
                <span class="filter-label">商户代码 ：</span>
                <span class="filter-input">
                    <input type="text" class="input-control" name="Model.ClientCode" style="width:120px;" />
                </span>
            </div>
            <div class="filter">
                <span class="filter-label">申请时间：</span>
                <span class="filter-input">
                    <input type="text" class="input-control Wdate" id="Model_StartTime" name="Model.StartTime" onclick="WdatePicker({ maxDate: '#F{$dp.$D(\'Model_EndTime\')||\'@DateTime.Now.ToString("yyyy-MM-dd")\'}' })" style="width:80px;" />至<input type="text" class="input-control Wdate" id="Model_EndTime" name="Model.EndTime" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'StartTime\')}' })" style="width:80px;" />
                </span>
            </div>
            <div class="filter">
                <span class="filter-label">状态：</span>
                <span class="filter-input">
                    @(Html.initEnumeration<Lumos.Entity.Enumeration.WithdrawStatus>(Lumos.Entity.Enumeration.InputType.Select, "Model.Status", new { @class = "select-control", defaulttext = "全部", hidevalue = new Lumos.Entity.Enumeration.WithdrawStatus[] { Lumos.Entity.Enumeration.WithdrawStatus.Unknow } }))
                </span>
            </div>
            <div class="filter" >


                <input type="button" value="查询" class="btn btn-search" />
                <input type="button" value="导出" class="btn btn-export-excel" />

            </div>

            <div class="filter" style="float:right">

            </div>
        </div>


        <div id="reporthtml">
            @Html.Raw(Model.TableHtml)

        </div>

    </form>
</div>



