
@{
    ViewBag.Title = "ExportReturn";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";

    WebBack.Models.UpLoadFileViewModel upLoadFileViewModel = new WebBack.Models.UpLoadFileViewModel();
    upLoadFileViewModel.Url = "../PosMachine/ExportReturn";
}

@Html.Partial("UpLoadFile", upLoadFileViewModel)

<a href="/Static/ExcelTemplate/POS机信注销表.xls">下载模板</a>