
@{
    ViewBag.Title = "WithdrawRule";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="news">
    <h3>关于提现规则的一些问题</h3>
    <p>日期：2017-01-27</p>
</div>
<div class="news-con">
  1.在本APP提现的费用计算如下，如有疑问请联系客服
</div>

