
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{
    <script type="text/javascript">
        <!--
        $(this).ready(function () {

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.tips(msg); }, onSuccess: function () { return add(); } });
            $("#Model_ExtendedApp_ImgUrl").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过20个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 500, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "请上传图标" });
            $("#Model_ExtendedApp_Name").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过20个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 10, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "名称不能为空,且不超过10个字符！" });
            $("#Model_ExtendedApp_LinkUrl").formValidator({ onShow: "请输入！", onFocus: "不能为空,且不超过20个字符！", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 500, empty: { leftEmpty: false, emptyError: "不能为空！" }, onError: "链接不能为空,且不超过20个字符！" });
            $("#Model_ExtendedApp_Description").formValidator({ onShow: "&nbsp;", onFocus: "不超过500个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 5, max: 500, onError: "描述不能为空,不超过500个字符" });
        });

        function add() {
            art.dialog.confirm(
'确定要申请？',
function () {
    var l_Data = $("#form1").serializeArray();

    $.lumos.postJson({
        url: "../ExtendedApp/Apply",
        data: l_Data,
        success: function (d) {
            if (d.result == "Success") {
                $.lumos.parentDialog().listTable.loadData();
                $.lumos.tips(d.message, true);
            }
            else {
                $.lumos.tips(d.message);
            }
        }
    });
});

            return false;
        }
        //-->
    </script>
}



<form name="form1" method="post" id="form1">
    @Html.AntiForgeryToken()
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t" style="width:50px;">
                图标：
            </td>
            <td class="f-tb-c">

                <span class="uploadimgbox" upload="true">
                    <span class="uploadimg" inputname="Model.ExtendedApp.ImgUrl">
                        <img src="" />
                        <span class="uploadimg-click" style="">上传</span>
                        <input id="Model_ExtendedApp_ImgUrl" value="" name="Model.ExtendedApp.ImgUrl" type="hidden" />
                    </span>
                    <span class="uploadimg-view" style="">预览</span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                名称：
            </td>
            <td class="f-tb-c">
                <input name="Model.ExtendedApp.Name" type="text" id="Model_ExtendedApp_Name" value="" class="input-control" style="width:250px;" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                链接：
            </td>
            <td class="f-tb-c">
                <input name="Model.ExtendedApp.LinkUrl" type="text" id="Model_ExtendedApp_LinkUrl" value="" class="input-control" style="width:250px;" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                描述：
            </td>
            <td class="f-tb-c" style="white-space:normal;">
                <textarea name="Model.ExtendedApp.Description" rows="5" cols="42" id="Model_ExtendedApp_Description" class="input-control"></textarea>
            </td>
        </tr>
        <tr style="display:none">
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="确定" class="btn btn-sure" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
            </td>
        </tr>
    </table>
</form>


