
@{
    ViewBag.Title = "PosMachineList";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "../Merchant/GetPosMachineList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"selectin\\\"   class=\\\"a-btn a-btn-edit\\\"  >选择</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.deviceId + "\"   >" + p_row.deviceId + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.fuselageNumber + "\">" + p_row.fuselageNumber + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.terminalNumber + "\">" + p_row.terminalNumber + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.version + "\">" + p_row.version + "</td>";
                l_StrRows += "<td class=\"operation\">";
                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "selectin": function (obj) {
                    art.dialog.confirm(
'确定要选择设备ID为' + obj.deviceId + '的POS机？',
function () {
    $.lumos.parentDialog().getPosMachineDetails(obj);
    art.dialog.close();
});
                }
            }
        });


    });




</script>

<form id="form1" name="form1">
    @Html.AntiForgeryToken()
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:10%" class="no">
                        序号
                    </th>
                    <th style="width:20%">
                        设备ID
                    </th>
                    <th style="width:20%">
                        机身号
                    </th>
                    <th style="width:20%">
                        终端号
                    </th>
                    <th style="width:15%">
                        版本号
                    </th>
                    <th style="width:15%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>
