@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutHomeMainEdit.cshtml";
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            //密码验证
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { }, onSuccess: function () { return savePassword(); } });
            $("#txt_OldPassword").formValidator({ onShow: "&nbsp;", onFocus: "由6到20个数字、英文字母或下划线组成", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "由6到20个数字、英文字母或下划线组成", empty: { isUseLeftRightEmptySize: true } });
            $("#txt_NewPassword").formValidator({ onShow: "&nbsp;", onFocus: "由6到20个数字、英文字母或下划线组成", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "由6到20个数字、英文字母或下划线组成", empty: { isUseLeftRightEmptySize: true } });
            $("#txt_NewPassword2").formValidator({ onShow: "&nbsp;", onFocus: "由6到20个数字、英文字母或下划线组成", onCorrect: "&nbsp;" }).regexValidator({ regExp: regexEnum.password, onError: "由6到20个数字、英文字母或下划线组成", empty: { isUseLeftRightEmptySize: true } }).compareValidator({ desID: "txt_NewPassword", operateor: "=", onError: "两次密码不一致,请确认" });

        });


        function savePassword() {

            $.lumos.postJson({
                url: "/WebBack/Home/ChangePassword",
                data: $("#form1").serializeArray(),
                success: function (d) {
                    if (d.result == resultType.success) {
                        $.lumos.messageBox({ type: 'success', showBoxId: 'changepassword_box', isPopup: false, title: "修改密码成功", content: d.message });
                    }
                    else {
                        art.dialog.tips(d.message);
                    }
                }
            });

            return false;
        }

    </script>
}

<div class="gbr-row gbr-row-changepassword" id="changepassword_box">

    <form id="form1" name="form1">
        @Html.AntiForgeryToken()

        <div class="h-form-container changepassword-box">
            <div class="h-entries">

                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">旧密码：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_OldPassword" name="OldPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_OldPasswordTip"></span>
                        </span>
                    </dd>
                </dl>

                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">新密码：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_NewPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_NewPasswordTip"></span>
                        </span>
                    </dd>
                </dl>
                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label">确认密码：</dt>
                    <dd class="h-entry-values">
                        <span class="h-item ">
                            <input type="password" id="txt_NewPassword2" name="NewPassword" class="input-control" value="" style="width:200px;" />
                            <span id="txt_NewPassword2Tip"></span>
                        </span>
                    </dd>
                </dl>
                <div class="h-line">
                </div>
                <dl class="h-entry clearfix">
                    <dt class="h-entry-label"></dt>
                    <dd class="h-entry-values">
                        <span class="h-item "><input type="submit" class="btn btn-sure" value="确定" style="width: 225px;" /></span>
                    </dd>
                </dl>
            </div>
        </div>



    </form>
</div>


