@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeMain.cshtml";
}

<script type="text/javascript">


    $(document).ready(function () {

     

    });


</script>

<form id="form1" name="form1">
    @Html.AntiForgeryToken()
   
</form>