
@{
    ViewBag.Title = "SelectList";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "../SalesmanUser/GetSelectList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"selectin\\\"   class=\\\"a-btn a-btn-edit\\\"  >选择</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.userName + "\"   >" + p_row.userName + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.fullName + "\">" + p_row.fullName + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.phoneNumber + "\">" + p_row.phoneNumber + "</td>";
                l_StrRows += "<td class=\"operation\">";
                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "selectin": function (obj) {
                    art.dialog.confirm(
'确定要选择用户' + obj.userName + '？',
function () {
    $.lumos.parentDialog().getSalesmanUserDetails(obj);
    art.dialog.close();
});
                }
            }
        });


    });




</script>

<form id="form1" name="form1">
    @Html.AntiForgeryToken()
    <div class="search-bar">
        <div class="filter">
            <span class="filter-label">用户名：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="UserName" style="width:120px;" />
            </span>
        </div>
        <div class="filter">
            <span class="filter-label">姓名：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="FullName" style="width:120px;" />
            </span>
        </div>
        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:10%" class="no">
                        序号
                    </th>
                    <th style="width:25%">
                        用户名
                    </th>
                    <th style="width:25%">
                        姓名
                    </th>
                    <th style="width:25%">
                        手机
                    </th>
                    <th style="width:15%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>


