@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutHomeMainList.cshtml";
}

<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "../Withdraw/GetList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"details\\\"   class=\\\"a-btn a-btn-edit\\\"  >查看</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.sn + "\"   >" + p_row.sn + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.clientCode + "\">" + p_row.clientCode + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.amount + "\">" + p_row.amount + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.amountByAfterFee + "\">" + p_row.amountByAfterFee + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.fee + "\">" + p_row.fee + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.status + "\">" + p_row.status + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.settlementStartTime + "\">" + p_row.settlementStartTime + "</td>";
                l_StrRows += "<td class=\"operation\">";
                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "details": function (obj) {
                    var url = '../Withdraw/Details?id=' + obj.id;

                    var title = '查看提现详情';
                    art.dialog.open(url, {
                        id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true
                    });
                }
            }
        });

    });




</script>

<form id="form1" name="form1">
    @Html.AntiForgeryToken()

    <div class="search-bar">
        <div class="filter">
            <span class="filter-label">流水号：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="Sn" style="width:120px;" />
            </span>
        </div>
        <div class="filter">
            <span class="filter-label">商户代码 ：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="ClientCode" style="width:120px;" />
            </span>
        </div>
        <div class="filter">
            <span class="filter-label">状态：</span>
            <span class="filter-input">
                @(Html.initEnumeration<Lumos.Entity.Enumeration.WithdrawStatus>(Lumos.Entity.Enumeration.InputType.Select, "Status", new { @class = "select-control", defaulttext = "全部", hidevalue = new Lumos.Entity.Enumeration.WithdrawStatus[] { Lumos.Entity.Enumeration.WithdrawStatus.Unknow } }))
            </span>
        </div>
        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

        <div class="filter" style="float:right">

        </div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%" class="no">
                        序号
                    </th>
                    <th style="width:15%">
                        流水号
                    </th>
                    <th style="width:10%">
                        商户代码 
                    </th>
                    <th style="width:15%">
                        提现金额
                    </th>
                    <th style="width:15%">
                        提现实际金额
                    </th>
                    <th style="width:10%">
                        提现费用
                    </th>
                    <th style="width:10%">
                        状态
                    </th>
                    <th style="width:10%">
                        结算开始时间
                    </th>
                    <th style="width:10%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>


