@model  Dictionary<string, string>


@if(Model!=null)
{
    foreach(var m in Model)
    {
        <h2>@m.Key</h2>
        <h3>@m.Value</h3>
        <hr />
    }
}


<script type="text/javascript">



</script>
<hr />
<form id="form1">
    提交投保单
</form>
<hr />